<div class="container-main">
    <div class="container-top">
 <div class="goal-title">
        <h2><%= @goal.title %> <%= @goal.emoji %></h2>
      </div>
      </div>
  <div>
    <%= render "form", task: @task %>
  </div>



  <div class="tasks-container">
    <ul>
      <% @tasks.each do |task| %>
        <li class="task-item">
          <div class="task-title"><%= link_to task.title, edit_goal_task_path(@goal, task) %></div>
          <%# <%= task.done %>
            <form action="/goals/<%= @goal.id %>/tasks/<%= task.id %>" method="post" class="update-task-form" data-action="submit->toggle#submitForm">
              <input type="hidden" name="_method" value="patch">
              <input type="hidden" name="task[done]" value="check">
                <% if task.done %>
              <input type="submit" class="btn btn-success btn-square-green">
                <% else %>
              <input type="submit" class="btn btn-secondary btn-square-grey">
                  <% end %>
            </form>
          <div class="task-info">
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="container-bottom">
    <div class="navbar-bottom">
      <div class="pomodoro">
        <button class="pomodoro-button" id="book"><i class="fas fa-book"></i></button>
        <div class="dropup nav-circle">


          <%= link_to "", root_path, class: "button-back mx-5" %>


        </div>
        <button class="pomodoro-button" id="clock"><i class="fas fa-clock"></i></button>
      </div>
    </div>
  </div>
</div>
