<div class="tasks-container-main">
  <div>
    <%= render "form", task: @task %>
  </div>

  <div class="tasks-container">
    <ul>
      <% @tasks.each do |task| %>
        <li class="task-item">
          <div class="task-title"><%= link_to task.title, edit_goal_task_path(@goal, task) %></div>
          <%= task.done %>
          <form action="/goals/<%= @goal.id%>/tasks/<%= task.id%>" method="patch">
            <input type="hidden" name="task[done]" value="check">
            <input type="submit" class="btn btn-primary">
          </form>
          <div class="task-info">
            <%= button_to 'x', goal_task_path(@goal, task), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "task-delete", form: {class: "inline-form"} %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="container-bottom">
    <div class="navbar-bottom">
      <div class="pomodoro">
        <button class="pomodoro-button" id="book"><i class="fas fa-book"></i></button>
        <div class="dropup nav-circle">


          <%= link_to "", root_path, class: "button-back mx-5" %>
 

        </div>
        <button class="pomodoro-button" id="clock"><i class="fas fa-clock"></i></button>
      </div>
    </div>
  </div>
</div>
