<div class="container-main">
  <!-- Add New Goals -->
  <div class="new-goal-container">
    <h2>➕ Add New Goal</h2>
    <%= simple_form_for @goal_new do |f| %>
      <%= f.input :title, label: false %>
      <%= f.button :submit, class: "btn btn" %>
    <% end %>
  </div>

  <!-- Non-Active Goals -->
  <div class="archive-container mt-5">
    <h2>✅ Archive</h2>
    <br>
    <% @goals.each do |goal| %>
        <div>
          <h3><em><%= goal.title %></em></h3>
        </div>
        <br>
    <% end %>
  </div>

  <!-- Navbar Bottom -->

    <div class="container-bottom">
      <%= render "shared/navbar_bottom_back" %>
    </div>
</div>
