<div class="container-main">
  <!-- Add New Goals -->
  <div class="new-goal-container">
    <h2>➕ Add New Goal</h2>
    <%= simple_form_for @goal do |f| %>
      <%= f.input :title, label: false %>
      <%= f.button :submit, class: "btn btn" %>
    <% end %>
  </div>

  <!-- Non-Active Goals -->
  <div class="archive-container mt-5">
    <h2>✅ Archive</h2>
    <br>
    <% @goals.each do |goal| %>
        <div>
          <h3><em><%= goal.title %></em></h3>
        </div>
        <br>
    <% end %>
  </div>

  <!-- Navbar Bottom -->
  <div class="container-bottom">
    <div class="navbar-bottom">
      <div class="pomodoro">
        <button class="pomodoro-button" id="book"><i class="fas fa-book"></i></button>
        <div class="dropup nav-circle">
          <%= link_to "", root_path, data: { action: "click->pomodoro#takeFive"}, class: "button-back mx-5" %>
        </div>
        <button class="pomodoro-button" id="clock"><i class="fas fa-clock"></i></button>
      </div>
    </div>
  </div>
</div>
