<div class="container-main" style="height: 100vh">

  <!-- Add New Goals -->
  <div class="new-goal-container">
    <h2>➕ Add New Goal</h2>
    <%= simple_form_for @goal_new do |f| %>
      <%= f.input :title, label: false %>
      <%= f.button :submit, class: "btn btn" %>
    <% end %>
  </div>

  <!-- Non-Active Goals -->
  <div class="archive-container mt-5">
    <h1>Your past goals (archive):</h1>
    <br>
    <div>
      <% @goals.each do |goal| %>
        <li class="task-item">
          <h4><%= goal.title %></h4>
        </li>
      <% end %>
    </div>
  </div>

  <!-- Navbar Bottom -->
    <div class="container-bottom">
      <%= render "shared/navbar_bottom_back" %>
    </div>
</div>
