<%#
<h1>Dashboard#home</h1>
<p>Find me in app/views/pages/dashboard.html.erb</p>

<h2>This is the dashboard (mainpage)</h2>
<p>For: Logged in users</p>
<p>Use: Daily Use. Track your goal, edit subtasks, etc.</p>
<p>On the dashboard you see your goal and the functionalities you chose (date, subtasks, etc.).</p>

<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h2>This is the landing page</h2>
<p>For: Users without login</p>
<p>Use: Explanation of the app</p>

<p>Content: Maybe some tools (pomodoro timer) </p> %>
<% unless @goal.nil? %>

<div class="container-main">

  <div class="container-top">
    <div class="goal-card">
      Your goal
    </div>
    <div class="goal-title">
      <h2><%= @goal.title %> <%= @goal.emoji %></h2> <%# <-------------------------------- GOAL TITLE + EMOJI from DB  %>
    </div>
    </div>
  <div class="container-center">


  <div class="progress-message">
<% if @quote %>
  <div class="quote">
    <p><%= @quote["q"] %></p>
    <p><strong>- <%= @quote["a"] %></strong></p>
  </div>
<% else %>
  <p>No quote found.</p>
<% end %>
  </div>


  <div class="container">
    <%= image_tag("tree/tree-5.webp", alt: "Beschreibung des Bildes") %>
  </div>
      <div class="days-remaining">
      20 days remaining
    </div>
</div>

  <div class="container-bottom">
  <div class="pomodoro">
    <button class="pomodoro-button"><i class="fas fa-book"></i></button>
<div class="dropup">
  <button class="button-add-functionality mx-5" data-bs-toggle="dropdown" aria-expanded="false"></button>
  <div class="dropdown-menu">
    <%= link_to "Add date ðŸ—“ï¸", edit_date_path(@goal), class: "dropdown-item " %> <%# <-- Add a Date  %>
    <%= link_to "Add task ðŸ“", goal_tasks_path(@goal), class: "dropdown-item" %> <%# <-- Add a Task  %>
  </div>
</div>
    <button class="pomodoro-button"><i class="fas fa-clock"></i></button>
  </div>
  </div>
</div>

<% else %>
  <%= link_to new_goal_path do %>
    <div>
      <h1>Create your first goal!</h1>
    </div>
  <% end %>
<% end %>
