<div class="container-main" data-controller="toggle"
                            data-pomodoro-remaining-seconds-value="<%= params[:seconds] %>"
                            data-pomodoro-running-value="<%= params[:running] %>">
  <div class="timer-container-main">
    <div class="timer-card">
      <div class="container mt-2" id="timer-container" >
        <h2 class="pomodoro-title ">POMODORO</h2>
        <div>
          <div data-pomodoro-target="bigDisplay" id="timer" class="d-flex justify-content-center" style="font-size: 20px;">
            <!-- Change value (25:00) in pomodoro_controller.js -->
            <div data-pomodoro-target="display">25:00</div>
          </div>
          <div class="buttons-pomodoro d-flex justify-content-center">
            <%= link_to "<i class='fas fa-play'></i>".html_safe, "#", data: { action: "click->pomodoro#start"}, class: "btn", id: "start" %>
            <%= link_to "<i class='fas fa-pause'></i>".html_safe, "#", data: { action: "click->pomodoro#stop"}, class: "btn", id: "pause" %>
            <%= link_to "<i class='fas fa-sync-alt'></i>".html_safe, "#", data: { action: "click->pomodoro#reset"}, class: "btn", id: "reset" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-bottom">
    <%= render "shared/navbar_bottom_back" %>
  </div>
</div>
