<%= simple_form_for @goal do |f| %>
<div class="input-daterange" data-behaviour="datepicker" id="datepicker" data-date-format="dd/mm/yyyy">
   <%= f.input :start_time, :class => "input-small" %>
   <span class="add-on">to</span>
   <%= f.input :end_time, :class => "input-small" %>
</div>
<script type="text/javascript">
  $('[data-behaviour~=datepicker]').datepicker();
</script>
  <%= f.button :submit %>
<% end %>

<%= simple_form_for @goal do |f| %>
  <%= f.input :start_date, as: :string, input_html: { id: "start_date", class: "datepicker" } %>
  <%= f.input :end_date, as: :string, input_html: { id: "start_date", class: "datepicker" } %>
  <%= f.button :submit %>
<% end %>


<%= simple_form_for @goal do |f| %>
  <%= f.input :start_time,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  <%= f.input :end_time,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  <%= f.button :submit %>
<% end %>
