<!DOCTYPE html>
<html>
  <head>
    <title>Mono Goal</title>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Mono Goal">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="csrf-token" content="<%= form_authenticity_token %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Flatpickr %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%# <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render 'shared/ios_pwa_links' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render "shared/flashes" %>
      <%= yield %>
  </body>
  <%= render 'layouts/footer' %>
</html>
